body {
  background-color: #eee;
  padding-bottom: 500px;
}
.grey {
  color: #999;
}
.group {
  padding: 10px 20px;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #aaa;
}
.affix {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  box-shadow: 0 -1px 5px #aaa;
  padding: 15px;
}
#exp,
#cur_exp,
#flag,
#match,
#txt {
  font-size: 14px;
  font-family: Menlo, "Consolas", monospace;
}
#cur_exp {
  display: inline-block;
}
#match {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px #aaa;
  padding: 10px;
}
#txt {
  background: #fff;
  min-height: 300px;
}
#txt:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#txt i,
#txt b {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}
#txt i {
  box-shadow: 0 0 0 1px #09f;
}
#txt b {
  box-shadow: 0 0 0 1px #df56ad;
}
