body {
  background: #eee !important;
}
hr {
  margin: 10px 0 !important;
}
.grey {
  color: #999;
}
label {
  color: #555;
}
.group {
  padding: 10px;
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #aaa;
}
#exp,
#cur_exp,
#flag,
#match,
#input {
  font-size: 14px;
  font-family: Menlo, "Consolas", monospace;
}
#flag {
  width: 100px;
}
#cur_exp {
  display: inline-block;
}
#exe_delay {
  width: 100px;
}
#match,
#input {
  background: #fff;
  border-radius: 3px;
}
#match {
  min-height: 200px;
  padding: 10px;
  box-shadow: 0 1px 3px #aaa;
}
#input {
  min-height: 200px;
  box-shadow: 0 1px 3px #aaa inset;
  padding: 10px;
}
#input i,
#input b {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}
#input i {
  box-shadow: 0 0 0 1px #09f;
}
#input b {
  box-shadow: 0 0 0 1px #df56ad;
}
