body
	background-color #eee
	padding-bottom 500px

.grey
	color #999

.group
	padding 10px 20px
	border-top 1px dashed #fff
	border-bottom 1px dashed #aaa

.affix
	position fixed
	bottom 0
	width 100%
	background #eee
	box-shadow 0 -1px 5px #aaa
	padding 15px

#exp, #cur_exp, #flag,#match,
#visual-pre, #input
	font-size 14px
	font-family Menlo, "Consolas", monospace

#cur_exp
	display inline-block

#match
	background #fff
	border-radius 3px
	box-shadow 0 1px 3px #aaa

#match
	padding 10px

#input
	min-height 300px

#visual-pre
	min-height 300px
	background #fff
	i, b
		border-radius 4px
		font-style normal
		font-weight normal
	i
		box-shadow 0 0 0 1px #0099FF
	b
		box-shadow 0 0 0 1px #DF56AD
