body
	background #eee !important

hr
	margin 10px 0 !important

.grey
	color #999

label
	color #555

.group
	padding 10px
	border-top 1px dashed #fff
	border-bottom 1px dashed #aaa

#exp, #cur_exp, #flag,#match,
#visual, #visual-pre, #input
	font-size 14px
	font-family Menlo, "Consolas", monospace

#exp
	width calc(100% \- 220px)

#flag
	width 100px

#cur_exp
	color #4C9CDB
	width calc(100% \- 220px)
	cursor pointer

#exe_delay
	width 100px

#match, #visual
	background #fff
	border-radius 3px
	box-shadow 0 1px 3px #aaa

#match
	min-height 200px
	padding 10px

#visual
	height 400px
	position relative
	overflow auto
	padding 0

#visual-pre,
#input
	resize none
	position absolute
	width 100%
	height 100%
	margin 0
	padding 10px
	border none
	background none

#visual-pre
	background #fff
	color #fff
	color rgba(0, 0, 0, 0)
	i, b
		border-radius 4px
		font-style normal
	i
		box-shadow 0 0 0 1px #0099FF
	b
		box-shadow 0 0 0 1px #DF56AD
