.grey {
  color: #999;
}
.strong {
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  background-color: #eee;
  background-image: url("../img/bg.jpg");
  background-size: 100% 100%;
  padding-bottom: 500px;
}
.brand h1 {
  margin: 0;
}
.brand a {
  font-weight: 100;
  color: #555;
}
.group {
  padding: 10px 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #bbb;
}
.affix {
  top: 0;
  width: 100%;
  padding: 15px;
  background: #eee;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 1px 5px #aaa;
  border-bottom: 1px solid #fff;
}
#exp,
#exp_dsp,
#flags,
#match,
#txt {
  font-size: 14px;
  font-family: Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
#exp {
  min-height: 34px;
  padding: 6px 12px;
  margin: 0;
  background: #fff;
}
#exp:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.popover {
  max-width: 100%;
  width: auto;
}
#exp_dsp {
  display: inline-block;
  cursor: pointer;
  white-space: pre-wrap;
}
#exp_dsp .error {
  color: #f13f86;
}
#match {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px #aaa;
  padding: 10px;
}
.g {
  white-space: pre-wrap;
  background: #eee;
  border-radius: 4px;
}
#txt {
  min-height: 300px;
  background: #fff;
}
#txt ol li:first-child {
  opacity: 0.5;
}
#txt:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
#txt i,
#txt b {
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
}
#txt i {
  background: #cff5ff;
  box-shadow: 0 0 0 1px #09f;
}
#txt b {
  background: #ffdfff;
  box-shadow: 0 0 0 1px #df56ad;
}
